.trackDescription {
    text-align: center;
    width: 95%;
    margin: 0 2.5%;
}

.trackDescription h1 {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 2.4rem;
}

.trackDescription h2 {
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 0;
}

.trackDescription input {
    display: inline;
    margin: 5px auto;
    border: none;
    background-color: rgba(255,255,255, 0.5);
    color: white;
    text-align: center;
}

.trackDescription #trackName {
    font-size: 2.4rem;  
}

.trackDescription #trackDesc {
    font-size: 1.2rem;
    width: 90%;
}

.trackStats {
    clear: both;
}

.ui.label.singleStat {
    margin-bottom: 5px;
}

.movieMenu-btn {
    float: left;
    padding: 4.5px 5.5px 0px 0px;
    width: 30px;
    height: 30px;
}

.movieMenu-btn:hover {
    background-color: white;
    color: rgba(0,0,0,0.85);
}

.ui.button.descriptionExpander {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.ui.inverted.menu.menuButtons {
    width: 150px;
    float: left;
    background-color: transparent;
    border-radius: 0;
    margin: 0;
}

.ui.inverted.menu.menuButtons .item {
    border-radius: 0;
}

.ui.inverted.menu.menuButtons .item:hover {
    background-color: rgba(255,255,255, 0.5);
}